.add-list__popup {
    transition: 0.3s ease;
    display: none;
    position: absolute;
    background-color: #fff;
    box-shadow: 1px 1px 3px var(--main-shadow-color), -1px -1px 3px var(--main-shadow-color);
    padding: 1rem;
    border-radius: 15px;

    .dropdown {

        &-add-date {
            input[type="date"] {
                outline: none;
                border: none;
                padding: 0.5rem;
                background-color: var(--active-color-lighten);
                border-radius: 5px;
                color: #fff;
                margin-bottom: 1rem;
            }
            
            input[type="date"]::-webkit-calendar-picker-indicator {
                background-color: #fff;
                border-radius: 3px;
            }
        }

        &-tag {
            margin-bottom: 0.3rem;
            margin-left: 0.5rem;
        }     
        
        &-submit {
            button {
                font-family: 'Montserrat', sans-serif;
                color: var(--main-text-color);
                font-size: 0.9rem;
                font-weight: 550;
                font-style: normal;
                border: none;
                background-color: var(--side-nav-background);
                border-radius: 15px;
                min-width: 120px;
                padding: 0.5rem;
                transition: 0.15s ease;
                margin-top: 0.5rem;
                cursor: pointer;
            }

            button:hover {
                color: #fff;
                background-color: var(--active-color-lighten);
            }
        }
    }
}

.task-board {
    &.task-list {
        &__markers-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            right: 7rem;
        
            div {
                border: 2px solid;
                border-radius: 50px;
                padding: 0.2rem 0.5rem;
            }
        
            p {
                font-weight: 500;
            }
        
            .date-marker {
                color: var(--active-color-text);
                border-color: var(--active-color);
            }

            .priority-marker {
                margin-left: 0.5rem;
            }
        }
    }
}